body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}


/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  font-family: "Century Gothic";
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: lightgrey;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  padding-right: 250px;
}


/* Sidebar Styles */


#sidebar-wrapper .row {
  display: block;
  text-decoration: none;
  color: black; 
  margin-top:10px;
}

#sidebar-wrapper .row:hover {
  text-decoration: none;
  color: #04BC2F;
  background: rgba(255,255,255,0.2);
}



#sidebar-wrapper .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  color: #999999;
  padding-left: 10px;

}

#sidebar-wrapper .sidebar-brand .row:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 250px;
  }


  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.top-buffer { margin-top:20px; }

.input-form-control{
  min-width: 0;
  width: 400px;
}

.input-container {
  overflow: scroll;
  white-space: nowrap;
}

.input-child {
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
}